.logo {
    margin-left: 20px;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: center;
}

.info-text {
    width: 400px;
    border-radius: 8px;
    padding: 40px;
    -webkit-box-shadow: 13px 17px 20px -5px rgba(0,0,0,0.12);
    box-shadow: 13px 17px 20px -5px rgba(0,0,0,0.12);
}
.title {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
}

.subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.description {
    color: #64748B
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.info-cards {
    margin-bottom: 25px;
}

.card {
    /*height: 72px;*/
    border-radius: 8px;
}